doctype html
html
    head
        title Knowledge Based
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand(href='/article') Knowledge Based
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarCollapse.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/article') Home 
                        span.sr-only (current)
                    if user    
                        li.nav-item
                            a.nav-link(href='/article/add') Add Articles
                ul.nav.navbar-nav.navbar-right
                   if user
                    li 
                        a.nav-link(href='/users/logout') Logout
                   else
                    li
                        a.nav-link(href='/users/register') Register
                    li
                        a.nav-link(href='/users/login') Login  
    
        .container
            br
            != messages('messages', locals)
            block content
            br
            hr
            footer
                p Copyright &copy; 2019

        script(src="/bower_components/jquery/dist/jquery.js")        
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="/js/main.js")         