extends layout

block content
    h1 #{title}
    form(method="POST", action="/users/register")
        #form-group
            label Name
            input.form-control(name="Name", type="text")
        #form-group
            label Email
            input.form-control(name="Email", type="text")
        #form-group
            label User Name
            input.form-control(name="userName", type="text")
        #form-group
            label Password
            input.form-control(name="Password", type="password")
        #form-group
            label Confirm Password
            input.form-control(name="confirmPassword", type="password")    
        br    
        input.btn.btn-primary(type="submit",value="Submit")     